.about {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #fff5f5;
  border-radius: 10px;
  padding-left: 2rem;
}

.id {
  max-width: 1200px;
  width: 100%;
}

.id h2 {
  font-size: 2rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid s#ccc;
  padding-bottom: 0.5rem;
}

.contenedor-about {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.contenedor-about p {
  flex: 1 1 60%;
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  text-align: justify;
}

.about-foto {
  flex: 1 1 30%;
  max-height: 300px;
  width: auto;
  object-fit: contain;
  border-radius: 10px;
 
}

@media (max-width: 768px) {
  .contenedor-about {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .contenedor-about p {
    flex: 1 1 100%;
  }

  .about-foto {
    max-width: 80%;
    height: auto;
  }
}
