.carrusel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(#ffa9a96d, #fe7b9174);
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(106, 11, 46, 0.275);
}

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 20s linear infinite;
}

.carrusel-item {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.carrusel-item:hover {
  transform: scale(1.1);
}

.icono {
  font-size: 2.5rem;
  color: #0077ff;
  margin-bottom: 8px;
}

.carrusel-item p {
  font-size: 0.9rem;
  text-align: center;
  color: #333;
}
/* 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
} */
